*
{
margin:0px;
padding:0px;

}
.android1
{
	width:200px;
	height:100px;
	background-image:url(images/ex2.gif);
	background-size:100% 100%;
	margin-left:800px;
	float:left;
	
}
.admin
{
	width:400px;
	height:500px;
	background-image:url(images/icon6.jpg);
	background-size:100% 100%;
	float:left;
	margin-left:230px;
}
.admin1
{
	width:600px;
	height:500px;
	background-image:url(images/reg1.png);
	background-size:100% 100%;
	float:left;
	margin-left:30px;
	margin-top:-30px;
	overflow:scroll;
	
}

.android2
{
width:1000px;
height:70px;
background-color:aqua;	

}

.text
{	
margin-top:210px;
margin-left:170px;	
}

.tex3
{
	margin-left:170px;	

}

.tex4
{
	margin-left:200px;	
	background-image:url(images/icon6.png);
	width:70px;
	height:30px;
}

.tex4
{

	background-color:rgb(208,239,116);
	width:70px;
	height:30px;
}

.divHeaderTable
{
           // width: 100%;
            padding-bottom:5px;
			margin-top:50px;
			margin-left:195px;
            display:block;
}
.divHeaderRow
{
           // width: 100%; /* add extra that you want to for header column */
            display:block;
            height:105px;
}
.divHeaderColumn
{
            float: left;
            width: 33%;
            display:block;
}
.divTable
{
            width: 200px;
            display:block;
            padding-top:10px;
            padding-bottom:10px;
            padding-right:10px;
            padding-left:10px; 
			background-color:rgb(211,20,113);
			box-shadow:5px 5px 10px black;
			border-radius:5px;
			margin-top:50px;
			margin-left:180px;
}
.divRow
{
         width: 100px; 
         display:block;
         padding-bottom:5px;
}
.divColumn
{
        
         width: 300px;
         display:block;
}
.lab
{
	
	margin-left:20px;
	color:white;
}
.divrow:hover
 {
    background-color: yellow;
} 
.col
{
	color:rgb(173,14,177);
	
}
.logo
{
	margin-left:200px;
	font-style:italic;
	font-family:;
}
.content2{
	
	height:600px;
}
	

		
		
	
	
	